# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
._*

# Editor/IDE
.cursor/
.claude/
.windsurfrules

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.gcov
*.gcda
*.gcno

# Backup files
*.backup
*~
